#footer {
  margin-top: 50px;
  height: 486px;
  width: 100%;
  background-image: url(../images/181031_40flk9d5hkkjf44246248clfl77f1_1440x500.jpg);
  background-size: cover;
  background-position: center center;
}

#footer .content {
  overflow: hidden;
  width: 1200px;
  padding-top: 50px;
  box-sizing: border-box;
}

#footer .content .footer_icon {
  width: 100%;
  margin: 0 0 49px;
}

#footer .content .footer_icon img {
  display: block;
  margin: auto;
  width: 140px;
  height: 38px;
}

#footer .content .footer_content {
  width: 100%;
}

#footer .content .footer_content .footer_lis {
  width: 100%;
}

#footer .content .footer_content .footer_lis dl {
  float: left;
  width: 300px;
  padding-left: 42px;
  box-sizing: border-box;
}

#footer .content .footer_content .footer_lis dl dt {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  position: relative;
  margin-bottom: 34px;
}

#footer .content .footer_content .footer_lis dl dt::after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 26px;
  background: #fff;
}

#footer .content .footer_content .footer_lis dl dd {
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  margin-bottom: 16px;
}

#footer .content .footer_content .footer_info {
  margin: auto;
  font-size: 12px;
  margin-top: 50px;
}

#footer .content .footer_content .footer_info li {
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

#footer .content .footer_content .footer_info li a {
  color: #fff;
}

#footer .content .footer_content .footer_info li a:hover {
  color: #faa200;
}

#footer .content .footer_content .footer_info li:before {
  color: #fff;
  content: "|";
  margin: 0 28px;
  font-weight: 300;
}

#footer .content .footer_content .footer_info li:first-child:before {
  content: "";
}

#footer .content .footer_content .footer_name {
  font-weight: 100;
  margin-top: 20px;
  text-align: center;
  display: flex;
}

#footer .content .footer_content .footer_name span {
  color: #fff;
  font-size: 12px;
  padding: 0 26px;
}

#footer .content .footer_content .footer_name:before {
  content: "";
  flex: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 100;
  transform: translate(0, 50%);
}

#footer .content .footer_content .footer_name:after {
  content: "";
  flex: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 100;
  transform: translate(0, 50%);
}

#footer .content .footer_content .info {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

#footer .content .footer_content .info .footer_in {
  font-size: 12px;
  color: #fff;
  line-height: 24px;
}
