.content {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
}

.clear::after {
  content: "";
  height: 0;
  display: block;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}

#home {
  width: 100%;
  min-width: 1200px;
  background: #f5f5f5;
}

#home #header {
  width: 100%;
  background: #fff;
}

#home #header .header_nav {
  height: 33px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

#home #header .header_nav .header_nav_content {
  float: right;
}

#home #header .header_nav .header_nav_content .header_nav_li {
  float: left;
  color: #999;
  font-size: 12px;
  line-height: 33px;
  height: 33px;
  display: block;
  padding: 0 20px;
}

#home #header .header_nav .header_nav_content .header_nav_li i {
  margin-right: 4px;
}

#home #header .header_nav .header_nav_content .header_nav_li .icon-home,
#home #header .header_nav .header_nav_content .header_nav_li .icon-edit {
  color: #ff4465;
}

#home #header .header_nav .header_nav_content .header_nav_li:before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background: #999;
  position: absolute;
  top: 12px;
  left: 0;
}

#home #header .header_nav .header_nav_content .header_nav_li:first-child:before {
  display: none;
}

#home #header .header_nav .header_nav_content .about {
  padding-right: 0;
}

#home #header .header_nav .header_nav_content .about .about_content {
  width: 960px;
  height: 360px;
  background: #fff;
  position: absolute;
  top: 34px;
  right: 0;
  box-shadow: 0 0 10px #ddd;
  display: none;
  z-index: 1;
}

#home #header .header_nav .header_nav_content .about .about_content .about_nav {
  float: left;
  width: 160px;
  margin-top: 34px;
  padding-left: 42px;
  box-sizing: border-box;
}

#home #header .header_nav .header_nav_content .about .about_content .about_nav dt {
  font-size: 14px;
  line-height: 14px;
  color: #333;
  position: relative;
  margin-bottom: 34px;
}

#home #header .header_nav .header_nav_content .about .about_content .about_nav dt::after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 20px;
  background: #949590;
}

#home #header .header_nav .header_nav_content .about .about_content .about_nav dd {
  font-size: 12px;
  line-height: 12px;
  color: #949590;
  margin-bottom: 16px;
}

#home #header .header_nav .header_nav_content .about .show_about {
  display: block;
}

#home #header .haader_wrap {
  background: #fff;
  height: 100px;
}

#home #header .haader_wrap .logo {
  float: left;
  background-image: url(../images/logo_260x200.png);
  width: 130px;
  height: 100px;
  background-size: contain;
  text-indent: -999px;
}

#home #header .haader_wrap .category {
  float: left;
  font-size: 14px;
  line-height: 14px;
  margin: 44px 0 0 30px;
}

#home #header .haader_wrap .category i {
  width: 18px;
  height: 12px;
  margin-right: 6px;
  display: inline-block;
  background-image: url(../images/mulu.png);
}

#home #header .haader_wrap .header_wrap_cont {
  float: left;
  margin-left: 56px;
}

#home #header .haader_wrap .header_wrap_cont .search {
  width: 552px;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  margin-top: 28px;
  float: left;
}

#home #header .haader_wrap .header_wrap_cont .search .val {
  width: 100%;
  height: 48px;
  color: #949590;
  text-indent: 16px;
  background: #f7f7f7;
}

#home #header .haader_wrap .header_wrap_cont .search .search_btn {
  width: 58px;
  height: 100%;
  background-image: url(../images/181205_2llkjh1g0fe27h51ahh5k5f27gkk9_116x96.png);
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
}

#home #header .haader_wrap .header_wrap_cont .item_nav {
  float: left;
  margin: 31px 0 0 14px;
}

#home #header .haader_wrap .header_wrap_cont .item_nav a {
  float: left;
  color: #333;
  padding: 0 14px;
  text-align: center;
}

#home #header .haader_wrap .header_wrap_cont .item_nav a img {
  width: 24px;
  height: 24px;
  margin-bottom: 6px;
}

#home #header .haader_wrap .header_wrap_cont .item_nav a span {
  display: block;
  font-size: 12px;
  line-height: 12px;
}

#home #header .haader_wrap .header_wrap_cont .login {
  float: left;
  margin: 36px 0 0 40px;
}

#home #header .haader_wrap .header_wrap_cont .login img {
  width: 30px;
  height: 30px;
}

#home #header .haader_wrap .header_wrap_cont .login span {
  color: #333;
  font-size: 12px;
  line-height: 30px;
  margin-left: 6px;
}

#home #title {
  width: 100%;
  height: 40px;
  background: #fff;
  border-bottom: 2px #ff4465 solid;
}

#home #title .title_ti {
  float: left;
  width: 256px;
  height: 100%;
  background: #ff4465;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  padding-left: 20px;
  box-sizing: border-box;
}

#home #title .title_ti i {
  background-image: url(../images/mulu_w.png);
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 8px;
}

#home #title .limit {
  float: left;
  color: #333;
  font-size: 18px;
  padding: 0 36px;
  line-height: 40px;
  position: relative;
}

#home #title .limit::after {
  display: block;
  content: "";
  width: 1px;
  height: 20px;
  background: #949590;
  position: absolute;
  right: 0;
  top: 10px;
}

#home #banner {
  background: #bae9fd;
  width: 100%;
  height: 440px;
}

#home #banner .banner_nav {
  float: left;
  width: 256px;
  height: 100%;
  background: #f1faff;
  position: relative;
}

#home #banner .banner_nav .nav_ul {
  padding: 3px 0;
  box-sizing: border-box;
}

#home #banner .banner_nav .nav_ul .nav_li {
  width: 100%;
  height: 31px;
}

#home #banner .banner_nav .nav_ul .nav_li .nav_titile {
  float: left;
  margin: 0 12px 0 18px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  line-height: 31px;
}

#home #banner .banner_nav .nav_ul .nav_li .nav_i {
  float: left;
  font-size: 12px;
  line-height: 31px;
  margin-right: 18px;
}

#home #banner .banner_nav .nav_ul .nav_li .nav_i:last-child {
  margin-right: 0;
}

#home #banner .banner_nav .nav_ul .nav_li .true {
  color: #ff4466;
}

#home #banner .banner_nav .nav_ul .nav_li .false {
  color: #666;
}

#home #banner .banner_nav .nav_ul .active {
  background: #fff;
}

#home #banner .banner_nav .show_cont {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 256px;
  width: 768px;
  height: 100%;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-left: 1px solid #fff;
  box-sizing: border-box;
}

#home #banner .banner_nav .show_cont .left_content {
  padding: 30px 20px 0 20px;
  box-sizing: border-box;
  float: left;
  width: 520px;
  height: 100%;
  border-right: 1px solid #f6f6f6;
}

#home #banner .banner_nav .show_cont .left_content .left_cont {
  margin-bottom: 22px;
}

#home #banner .banner_nav .show_cont .left_content .left_cont .left_tit {
  float: left;
  font-size: 14px;
  line-height: 14px;
  color: #333;
  font-weight: bold;
  margin-bottom: 14px;
}

#home #banner .banner_nav .show_cont .left_content .left_cont .more {
  float: right;
  font-size: 12px;
  line-height: 14px;
  color: #333;
}

#home #banner .banner_nav .show_cont .left_content .left_cont .more .bt {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-size: contain;
  background-image: url(../images/yjt.png);
}

#home #banner .banner_nav .show_cont .left_content .left_cont .left_ul .l_li {
  float: left;
  font-size: 12px;
  line-height: 12px;
  margin-right: 20px;
  margin-bottom: 14px;
}

#home #banner .banner_nav .show_cont .left_content .left_cont .left_ul .true {
  color: #ff4466;
}

#home #banner .banner_nav .show_cont .left_content .left_cont .left_ul .false {
  color: #949590;
}

#home #banner .banner_nav .show_cont .right_content {
  float: left;
  width: 246px;
  text-align: center;
  padding: 0 16px;
  box-sizing: border-box;
}

#home #banner .banner_nav .show_cont .right_content .ti_title {
  font-size: 16px;
  line-height: 16px;
  color: #333;
  margin: 18px 0 16px;
}

#home #banner .banner_nav .show_cont .right_content .ul_cont {
  width: 100%;
}

#home #banner .banner_nav .show_cont .right_content .ul_cont .r_li {
  float: left;
  margin-right: 14px;
}

#home #banner .banner_nav .show_cont .right_content .ul_cont .r_li img {
  width: 100px;
  height: 100px;
}

#home #banner .banner_nav .show_cont .right_content .ul_cont .r_li .r_name {
  width: 100px;
  font-size: 12px;
  line-height: 12px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 4px 0 12px;
}

#home #banner .banner_nav .show_cont .right_content .ul_cont .r_li:nth-child(2n) {
  margin-right: 0;
}

#home #banner .banner_nav .show_block {
  display: block;
}

#home #banner .banner_slider {
  float: left;
  width: 768px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#home #banner .banner_slider .photo_ul {
  width: 10000px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#home #banner .banner_slider .photo_ul .photo_li {
  float: left;
  width: 768px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#home #banner .banner_slider .photo_ul .photo_li img {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#home #banner .banner_slider .direction {
  width: 768px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

#home #banner .banner_slider .direction span {
  display: block;
  width: 41px;
  height: 69px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/icon-slides.png);
}

#home #banner .banner_slider .direction .before {
  left: 0;
  background-position: -83px 0;
}

#home #banner .banner_slider .direction .last {
  right: 0;
  background-position: -125px 0;
}

#home #banner .banner_slider .direction .before:hover {
  background-position: 0 0;
}

#home #banner .banner_slider .direction .last:hover {
  background-position: -42px 0;
}

#home #banner .banner_slider .number {
  position: absolute;
  right: 35px;
  bottom: 25px;
  z-index: 0;
}

#home #banner .banner_slider .number .num {
  float: left;
  width: 10px;
  height: 10px;
  background: #eee;
  box-sizing: border-box;
  border: 2px solid #aab3b2;
  border-radius: 50%;
  margin-right: 10px;
}

#home #banner .banner_slider .number .num:hover {
  background: #ff95c6;
  border: 2px solid #eee;
}

#home #banner .banner_slider .number .num:last-child {
  margin-right: 0;
}

#home #banner .banner_slider .number .active {
  background: #ff95c6;
  border: 2px solid #eee;
}

#home #banner .banner_member {
  width: 166px;
  height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  float: left;
}

#home #banner .banner_member .member_login {
  width: 100%;
  height: 205px;
  background: #f1faff;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0px;
}

#home #banner .banner_member .member_login .login_photo {
  display: inline-block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #ff95c6;
  background-image: url(../images/upload_7a9719cl61k83h5cbkc9fl1330i5c_60x64.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px 0;
}

#home #banner .banner_member .member_login .login_name {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  color: #333;
  margin-bottom: 10px;
}

#home #banner .banner_member .member_login .login_center {
  display: inline-block;
  font-size: 12px;
  width: 72px;
  height: 24px;
  line-height: 24px;
  color: #ff4466;
  border: 1px solid #ff4466;
  text-align: center;
}

#home #banner .banner_member .member_app {
  width: 100%;
  height: 205px;
  background: #f1faff;
  font-size: 0;
  text-align: center;
}

#home #banner .banner_member .member_app .app_title {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  color: #333;
  margin: 24px 0 12px;
}

#home #banner .banner_member .member_app .app_name {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  color: #666;
  margin-bottom: 12px;
}

#home #banner .banner_member .member_app img {
  width: 130px;
  height: 130px;
}

#home #panic {
  width: 100%;
}

#home #panic .countdown_slider {
  margin-top: 15px;
  widows: 100%;
  height: 294px;
}

#home #panic .countdown_slider .countdown {
  float: left;
  width: 230px;
  height: 100%;
  position: relative;
  text-align: center;
}

#home #panic .countdown_slider .countdown img {
  width: 100%;
  display: block;
}

#home #panic .countdown_slider .countdown .time {
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 27px;
  color: #333;
  font-size: 24px;
  line-height: 40px;
}

#home #panic .countdown_slider .countdown .time span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  color: #eee;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  background: #333;
  margin: 0 6px;
}

#home #panic .countdown_slider .slider {
  float: left;
  width: 960px;
  height: 100%;
  position: relative;
  background: #fff;
}

#home #panic .countdown_slider .slider .jiant {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#home #panic .countdown_slider .slider .jiant .before {
  float: left;
  display: block;
  width: 25px;
  height: 54px;
  background-image: url(../images/zjj.png);
}

#home #panic .countdown_slider .slider .jiant .after {
  float: right;
  display: block;
  width: 25px;
  height: 54px;
  background-image: url(../images/yjj.png);
}

#home #panic .countdown_slider .slider .slider_content {
  width: 920px;
  height: 100%;
  margin: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

#home #panic .countdown_slider .slider .slider_content .slider_goods {
  position: absolute;
  top: 0;
  left: 0;
  width: 20000px;
  height: 294px;
}

#home #panic .countdown_slider .slider .slider_content .slider_goods .goods {
  float: left;
  width: 190px;
  height: 248px;
  padding: 30px 20px 16px 20px;
}

#home #panic .countdown_slider .slider .slider_content .slider_goods .goods .img {
  width: 100%;
  height: 190px;
  overflow: hidden;
}

#home #panic .countdown_slider .slider .slider_content .slider_goods .goods .img img {
  width: 100%;
  display: block;
}

#home #panic .countdown_slider .slider .slider_content .slider_goods .goods .title {
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
  margin: 14px 0 8px;
}

#home #panic .countdown_slider .slider .slider_content .slider_goods .goods .price {
  height: 22px;
  letter-spacing: -1px;
}

#home #panic .countdown_slider .slider .slider_content .slider_goods .goods .price .original_price {
  font-size: 22px;
  line-height: 22px;
  color: #ff4466;
}

#home #panic .countdown_slider .slider .slider_content .slider_goods .goods .price .sale_price {
  margin-left: 88px;
  font-size: 14px;
  line-height: 14px;
  color: #999;
  vertical-align: baseline;
}

#home #panic .panic_bottom {
  width: 100%;
  height: 150px;
}

#home #panic .panic_bottom .panic_bottom_ul .panic_bottom_photo {
  margin-top: 10px;
  width: 230px;
  float: left;
  margin-right: 10px;
}

#home #panic .panic_bottom .panic_bottom_ul .panic_bottom_photo img {
  width: 100%;
  display: block;
}

#home #panic .panic_bottom .panic_bottom_ul .panic_bottom_photo:first-child {
  width: 470px;
}

#home #panic .panic_bottom .panic_bottom_ul .panic_bottom_photo:last-child {
  margin-right: 0;
}

#home #clothes {
  width: 100%;
  margin-top: 48px;
}

#home #clothes .goods_top {
  margin-bottom: 16px;
}

#home #clothes .goods_top .color_block {
  float: left;
  display: block;
  width: 8px;
  height: 22px;
  background: #FFA1B8;
}

#home #clothes .goods_top .goods_title {
  float: left;
  font-weight: 20px;
  line-height: 22px;
  color: #333;
  margin: 0 24px 0 10px;
}

#home #clothes .goods_top .goods_tit_ul {
  float: left;
  font-size: 14px;
  line-height: 22px;
  color: #333;
}

#home #clothes .goods_top .goods_tit_ul .goods_tit_li {
  float: left;
  padding: 0 22px;
  position: relative;
}

#home #clothes .goods_top .goods_tit_ul .goods_tit_li::after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background: #333;
  position: absolute;
  top: 4px;
  right: 0;
}

#home #clothes .goods_content .big_photo {
  float: left;
  width: 230px;
  height: 624px;
}

#home #clothes .goods_content .big_photo img {
  width: 100%;
  display: block;
}

#home #clothes .goods_content .goods_details {
  float: right;
  width: 950px;
}

#home #clothes .goods_content .goods_details .goods_slider {
  width: 100%;
  height: 408px;
  overflow: hidden;
  position: relative;
}

#home #clothes .goods_content .goods_details .goods_slider .slider_ul {
  width: 20000px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#home #clothes .goods_content .goods_details .goods_slider .slider_ul .goods_list {
  box-sizing: border-box;
  width: 230px;
  height: 100%;
  background: #fff;
  float: left;
  margin-right: 10px;
  padding: 16px;
}

#home #clothes .goods_content .goods_details .goods_slider .slider_ul .goods_list img {
  width: 100%;
  height: 297px;
  display: block;
  border-radius: 6px;
}

#home #clothes .goods_content .goods_details .goods_slider .slider_ul .goods_list .goods_tit {
  font-size: 16px;
  line-height: 1.4em;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 8px 0;
}

#home #clothes .goods_content .goods_details .goods_slider .slider_ul .goods_list .goods_price {
  font-size: 22px;
  line-height: 22px;
  color: #ff4466;
}

#home #clothes .goods_content .goods_details .goods_slider .slider_jt {
  width: 918px;
  position: absolute;
  top: 144px;
  left: 50%;
  transform: translateX(-50%);
}

#home #clothes .goods_content .goods_details .goods_slider .slider_jt .before {
  float: left;
  display: block;
  width: 25px;
  height: 54px;
  background-image: url(../images/zjj.png);
}

#home #clothes .goods_content .goods_details .goods_slider .slider_jt .after {
  float: right;
  display: block;
  width: 25px;
  height: 54px;
  background-image: url(../images/yjj.png);
}

#home #clothes .goods_content .goods_details .goods_sale {
  height: 113px;
  margin: 10px 0;
}

#home #clothes .goods_content .goods_details .goods_sale .sale_bg {
  height: 100%;
  float: left;
  margin-right: 10px;
}

#home #clothes .goods_content .goods_details .goods_sale .sale_bg img {
  height: 100%;
  display: block;
}

#home #clothes .goods_content .goods_details .goods_sale .sale_bg:last-child {
  margin-right: 0;
}

#home #clothes .goods_content .goods_details .goods_group {
  float: left;
}

#home #clothes .goods_content .goods_details .goods_group .group_bg {
  width: 230px;
  height: 83px;
  background: #fff;
  float: left;
  margin-right: 10px;
}

#home #clothes .goods_content .goods_details .goods_group .group_bg .text {
  float: left;
  margin: 22px 0 0 12px;
}

#home #clothes .goods_content .goods_details .goods_group .group_bg .text .g_title {
  font-size: 20px;
  line-height: 20px;
  background-image: linear-gradient(139deg, #4674ea, #D831FD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

#home #clothes .goods_content .goods_details .goods_group .group_bg .text .g_name {
  font-size: 14px;
  line-height: 14px;
  color: #666;
}

#home #clothes .goods_content .goods_details .goods_group .group_bg img {
  float: right;
  width: 83px;
  height: 83px;
}

#home #clothes .goods_content .goods_details .goods_group .group_bg:nth-child(2) .g_title {
  background-image: linear-gradient(139deg, #FF5757, #FFB746);
}

#home #clothes .goods_content .goods_details .goods_group .group_bg:nth-child(3) .g_title {
  background-image: linear-gradient(139deg, #8cacff, #4674ea);
}

#home #clothes .goods_content .goods_details .goods_group .group_bg:nth-child(4) .g_title {
  background-image: linear-gradient(139deg, #FF5757, #FFB746);
}

#home #clothes .goods_content .goods_details .goods_group .group_bg:last-child {
  margin-right: 0;
}

#home #shoe_bag {
  width: 100%;
  margin-top: 48px;
}

#home .same_goods_top {
  margin-bottom: 16px;
}

#home .same_goods_top .color_block {
  float: left;
  display: block;
  width: 8px;
  height: 22px;
  background: #FFA1B8;
}

#home .same_goods_top .goods_title {
  float: left;
  font-weight: 20px;
  line-height: 22px;
  color: #333;
  margin: 0 24px 0 10px;
}

#home .same_goods_top .goods_tit_ul {
  float: left;
  font-size: 14px;
  line-height: 22px;
  color: #333;
}

#home .same_goods_top .goods_tit_ul .goods_tit_li {
  float: left;
  padding: 0 22px;
  position: relative;
}

#home .same_goods_top .goods_tit_ul .goods_tit_li::after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background: #333;
  position: absolute;
  top: 4px;
  right: 0;
}

#home .same_goods_content {
  width: 100%;
}

#home .same_goods_content .big_photo {
  float: left;
  width: 230px;
  height: 555px;
  overflow: hidden;
}

#home .same_goods_content .big_photo .big_ul {
  width: 460px;
  height: 100%;
}

#home .same_goods_content .big_photo .big_ul .big_li {
  float: left;
  width: 230px;
  height: 100%;
}

#home .same_goods_content .big_photo .big_ul .big_li img {
  width: 100%;
  display: block;
}

#home .same_goods_content .goods_details {
  width: 950px;
  height: 555px;
  float: left;
  margin-left: 10px;
}

#home .same_goods_content .goods_details .details_left {
  width: 630px;
  height: 100%;
  float: left;
  margin-right: 10px;
  background: #fff;
  position: relative;
}

#home .same_goods_content .goods_details .details_left .sleder_content {
  margin: 21px;
  margin-bottom: 0;
  width: 588px;
  height: 534px;
  position: relative;
  overflow: hidden;
}

#home .same_goods_content .goods_details .details_left .sleder_content .sleder_len {
  position: absolute;
  top: 0;
  left: 0;
  width: 20000px;
}

#home .same_goods_content .goods_details .details_left .sleder_content .sleder_len .slider_ul {
  width: 588px;
  height: 520px;
  background: #fff;
  float: left;
}

#home .same_goods_content .goods_details .details_left .sleder_content .sleder_len .slider_ul .slider_goods {
  float: left;
  width: 182px;
  height: 233px;
  margin: 0 21px 24px 0;
}

#home .same_goods_content .goods_details .details_left .sleder_content .sleder_len .slider_ul .slider_goods img {
  width: 182px;
  height: 182px;
}

#home .same_goods_content .goods_details .details_left .sleder_content .sleder_len .slider_ul .slider_goods .slider_title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  height: 20px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 182px;
  color: #333;
}

#home .same_goods_content .goods_details .details_left .sleder_content .sleder_len .slider_ul .slider_goods .slider_price {
  letter-spacing: 0;
  height: 24px;
  margin-top: 4px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #FF4466;
}

#home .same_goods_content .goods_details .details_left .sleder_content .sleder_len .slider_ul .slider_goods:nth-child(3n) {
  margin-right: 0;
}

#home .same_goods_content .goods_details .details_left .dot_ul {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
}

#home .same_goods_content .goods_details .details_left .dot_ul .dot {
  float: left;
  margin-right: 18px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  padding: 0;
  background: #D8D8D8;
}

#home .same_goods_content .goods_details .details_left .dot_ul .dot:last-child {
  margin-right: 0;
}

#home .same_goods_content .goods_details .details_left .dot_ul .active {
  background: #666;
}

#home .same_goods_content .goods_details .details_right {
  width: 310px;
  height: 100%;
  float: left;
  background: #fff;
}

#home .same_goods_content .goods_details .details_right .hot_header {
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  width: 274px;
  padding: 28px 20px 26px;
}

#home .same_goods_content .goods_details .details_right .hot_header .hot_title {
  font-size: 18px;
  color: #333;
  float: left;
}

#home .same_goods_content .goods_details .details_right .hot_header .replace {
  font-size: 14px;
  color: #5F5F5F;
  float: right;
}

#home .same_goods_content .goods_details .details_right .hot_ul {
  width: 100%;
  padding: 0 18px;
}

#home .same_goods_content .goods_details .details_right .hot_ul .hot_li {
  width: 274px;
  height: 93px;
  margin-bottom: 21px;
}

#home .same_goods_content .goods_details .details_right .hot_ul .hot_li img {
  float: left;
  margin-right: 10px;
  width: 93px;
  height: 93px;
}

#home .same_goods_content .goods_details .details_right .hot_ul .hot_li .hot_info {
  float: left;
  width: 170px;
}

#home .same_goods_content .goods_details .details_right .hot_ul .hot_li .hot_info .hot_name {
  width: 100%;
  font-size: 14px;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 44px;
  position: relative;
  line-height: 22px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#home .same_goods_content .goods_details .details_right .hot_ul .hot_li .hot_info .hot_price {
  font-size: 20px;
  color: #FF4466;
}

#home #wall {
  margin-top: 70px;
}

#home #wall .content {
  width: 1200px;
}

#home #wall .content .wall_title {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  margin-right: 30px;
  margin-bottom: 32px;
}

#home #wall .content .shop-content {
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
}

#home #wall .content .shop-content .shop-li {
  float: left;
  width: 218px;
  height: 372px;
  border: 1px solid #e6e6e6;
  margin: 0 25px 25px 0;
  position: relative;
}

#home #wall .content .shop-content .shop-li .find {
  width: 100%;
  height: 24px;
  background: rgba(255, 0, 128, 0.6);
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 266px;
  display: none;
}

#home #wall .content .shop-content .shop-li img {
  width: 100%;
  height: 290px;
  display: block;
}

#home #wall .content .shop-content .shop-li .name {
  margin: 6px 0;
  padding: 0 8px;
  font-size: 14px;
  color: #727375;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

#home #wall .content .shop-content .mouse {
  border: 1px solid #e87b9a;
}

#home #wall .content .shop-content .shop-li:nth-child(5n) {
  margin-right: 0;
}

#home #wall .content .shop-content .price {
  padding: 0 8px;
  width: 100%;
}

#home #wall .content .shop-content .price .class_a {
  float: left;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  color: #37332a;
}

#home #wall .content .shop-content .price .class_b {
  float: left;
  margin-left: 8px;
  font-size: 12px;
  line-height: 14px;
  text-decoration: line-through;
  color: #727375;
}

#home #wall .content .shop-content .price img {
  float: right;
  margin-right: 20px;
  width: 14px;
  height: 14px;
}

#home #footer {
  margin-top: 50px;
  height: 486px;
  width: 100%;
  background-image: url(../images/181031_40flk9d5hkkjf44246248clfl77f1_1440x500.jpg);
  background-size: cover;
  background-position: center center;
}

#home #footer .content {
  overflow: hidden;
  width: 1200px;
  padding-top: 50px;
  box-sizing: border-box;
}

#home #footer .content .footer_icon {
  width: 100%;
  margin: 0 0 49px;
}

#home #footer .content .footer_icon img {
  display: block;
  margin: auto;
  width: 140px;
  height: 38px;
}

#home #footer .content .footer_content {
  width: 100%;
}

#home #footer .content .footer_content .footer_lis {
  width: 100%;
}

#home #footer .content .footer_content .footer_lis dl {
  float: left;
  width: 300px;
  padding-left: 42px;
  box-sizing: border-box;
}

#home #footer .content .footer_content .footer_lis dl dt {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  position: relative;
  margin-bottom: 34px;
}

#home #footer .content .footer_content .footer_lis dl dt::after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 26px;
  background: #fff;
}

#home #footer .content .footer_content .footer_lis dl dd {
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  margin-bottom: 16px;
}

#home #footer .content .footer_content .footer_info {
  margin: auto;
  font-size: 12px;
  margin-top: 50px;
}

#home #footer .content .footer_content .footer_info li {
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

#home #footer .content .footer_content .footer_info li a {
  color: #fff;
}

#home #footer .content .footer_content .footer_info li a:hover {
  color: #faa200;
}

#home #footer .content .footer_content .footer_info li:before {
  color: #fff;
  content: "|";
  margin: 0 28px;
  font-weight: 300;
}

#home #footer .content .footer_content .footer_info li:first-child:before {
  content: "";
}

#home #footer .content .footer_content .footer_name {
  font-weight: 100;
  margin-top: 20px;
  text-align: center;
  display: flex;
}

#home #footer .content .footer_content .footer_name span {
  color: #fff;
  font-size: 12px;
  padding: 0 26px;
}

#home #footer .content .footer_content .footer_name:before {
  content: "";
  flex: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 100;
  transform: translate(0, 50%);
}

#home #footer .content .footer_content .footer_name:after {
  content: "";
  flex: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 100;
  transform: translate(0, 50%);
}

#home #footer .content .footer_content .info {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

#home #footer .content .footer_content .info .footer_in {
  font-size: 12px;
  color: #fff;
  line-height: 24px;
}

#home #ceiling {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px #666;
  height: 100px;
  display: none;
  position: fixed;
  top: 0;
  z-index: 1;
}

#home #ceiling .logo {
  float: left;
  background-image: url(../images/logo_260x200.png);
  width: 130px;
  height: 100px;
  background-size: contain;
  text-indent: -999px;
}

#home #ceiling .category {
  float: left;
  font-size: 14px;
  line-height: 14px;
  margin: 44px 0 0 30px;
}

#home #ceiling .category i {
  width: 18px;
  height: 12px;
  margin-right: 6px;
  display: inline-block;
  background-image: url(../images/mulu.png);
}

#home #ceiling .header_wrap_cont {
  float: left;
  margin-left: 56px;
}

#home #ceiling .header_wrap_cont .search {
  width: 552px;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  margin-top: 28px;
  float: left;
}

#home #ceiling .header_wrap_cont .search .val {
  width: 100%;
  height: 48px;
  color: #949590;
  text-indent: 16px;
  background: #f7f7f7;
}

#home #ceiling .header_wrap_cont .search .search_btn {
  width: 58px;
  height: 100%;
  background-image: url(../images/181205_2llkjh1g0fe27h51ahh5k5f27gkk9_116x96.png);
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
}

#home #ceiling .header_wrap_cont .item_nav {
  float: left;
  margin: 31px 0 0 14px;
}

#home #ceiling .header_wrap_cont .item_nav a {
  float: left;
  color: #333;
  padding: 0 14px;
  text-align: center;
}

#home #ceiling .header_wrap_cont .item_nav a img {
  width: 24px;
  height: 24px;
  margin-bottom: 6px;
}

#home #ceiling .header_wrap_cont .item_nav a span {
  display: block;
  font-size: 12px;
  line-height: 12px;
}

#home #ceiling .header_wrap_cont .login {
  float: left;
  margin: 36px 0 0 40px;
}

#home #ceiling .header_wrap_cont .login img {
  width: 30px;
  height: 30px;
}

#home #ceiling .header_wrap_cont .login span {
  color: #333;
  font-size: 12px;
  line-height: 30px;
  margin-left: 6px;
}
