.content {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
}

.clear::after {
  content: "";
  height: 0;
  display: block;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}

#home {
  width: 100%;
}

#home #header {
  width: 100%;
}

#home #header .header_nav {
  height: 33px;
  border-bottom: 1px solid #ccc;
}

#home #header .header_nav .header_nav_content {
  float: right;
}

#home #header .header_nav .header_nav_content .header_nav_li {
  float: left;
  color: #999;
  font-size: 12px;
  line-height: 33px;
  height: 33px;
  display: block;
  padding: 0 20px;
  position: relative;
}

#home #header .header_nav .header_nav_content .header_nav_li i {
  margin-right: 4px;
}

#home #header .header_nav .header_nav_content .header_nav_li .icon-home,
#home #header .header_nav .header_nav_content .header_nav_li .icon-edit {
  color: #ff4465;
}

#home #header .header_nav .header_nav_content .header_nav_li:before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background: #999;
  position: absolute;
  top: 12px;
  left: 0;
}

#home #header .header_nav .header_nav_content .header_nav_li:first-child:before {
  display: none;
}

#home #header .header_nav .header_nav_content .about {
  padding-right: 0;
}

#home #header .haader_wrap {
  height: 100px;
  background: pink;
}

#home #header .haader_wrap .logo {
  float: left;
  background-image: url(../images/logo_260x200.png);
  width: 130px;
  height: 100px;
  background-size: contain;
  text-indent: -999px;
}

#home #header .haader_wrap .category {
  float: left;
  font-size: 14px;
  line-height: 14px;
  margin: 44px 0 0 30px;
}

#home #header .haader_wrap .category i {
  width: 18px;
  height: 12px;
  display: inline-block;
  background-image: url(../images/mulu.png);
}

#home #header .haader_wrap .header_wrap_cont {
  float: left;
  margin-left: 76px;
}

#home #header .haader_wrap .header_wrap_cont .search {
  width: 552px;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  margin-top: 28px;
  float: left;
}

#home #header .haader_wrap .header_wrap_cont .search .val {
  width: 100%;
  height: 48px;
  background: #f7f7f7;
}

#home #header .haader_wrap .header_wrap_cont .search .search_btn {
  width: 58px;
  height: 100%;
  background-image: url(../images/181205_2llkjh1g0fe27h51ahh5k5f27gkk9_116x96.png);
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
}

#home #header .haader_wrap .header_wrap_cont .item_nav {
  float: left;
}

#home #header .haader_wrap .header_wrap_cont .login {
  float: left;
}
