.content {
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}

.clear::after {
    content: "";
    height: 0;
    display: block;
    overflow: hidden;
    clear: both;
    visibility: hidden;
}

#home {
    width: 100%;

    #header {
        width: 100%;

        .header_nav {
            height: 33px;
            border-bottom: 1px solid #ccc;
            position: relative;

            .header_nav_content {
                float: right;

                .header_nav_li {
                    float: left;
                    color: #999;
                    font-size: 12px;
                    line-height: 33px;
                    height: 33px;
                    display: block;
                    padding: 0 20px;

                    i {
                        margin-right: 4px;
                    }

                    .icon-home,
                    .icon-edit {
                        color: #ff4465;
                    }
                }

                .header_nav_li:before {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 12px;
                    background: #999;
                    position: absolute;
                    top: 12px;
                    left: 0;
                }

                .header_nav_li:first-child:before {
                    display: none;
                }

                .about {
                    padding-right: 0;

                    .about_content {
                        width: 960px;
                        height: 360px;
                        background: #fff;
                        position: absolute;
                        top: 34px;
                        right: 0;
                        box-shadow: 0 0 10px #ddd;
                        display: none;
                        z-index: 1;

                        .about_nav {
                            float: left;
                            width: 160px;
                            margin-top: 34px;
                            padding-left: 42px;
                            box-sizing: border-box;

                            dt {
                                font-size: 14px;
                                line-height: 14px;
                                color: #333;
                                position: relative;
                                margin-bottom: 34px;
                            }

                            dt::after {
                                content: "";
                                display: block;
                                width: 30px;
                                height: 1px;
                                position: absolute;
                                left: 0;
                                top: 20px;
                                background: #949590;
                            }

                            dd {
                                font-size: 12px;
                                line-height: 12px;
                                color: #949590;
                                margin-bottom: 16px;
                            }
                        }
                    }

                    .show_about {
                        display: block;
                    }
                }
            }
        }

        .haader_wrap {
            height: 100px;
            // background: pink;
            // position: relative;

            .logo {
                float: left;
                background-image: url(../images/logo_260x200.png);
                width: 130px;
                height: 100px;
                background-size: contain;
                text-indent: -999px;
            }

            .category {
                float: left;
                font-size: 14px;
                line-height: 14px;
                margin: 44px 0 0 30px;

                i {
                    width: 18px;
                    height: 12px;
                    margin-right: 6px;
                    display: inline-block;
                    background-image: url(../images/mulu.png);
                }
            }

            .header_wrap_cont {
                float: left;
                margin-left: 56px;

                .search {
                    width: 552px;
                    overflow: hidden;
                    border-radius: 6px;
                    position: relative;
                    margin-top: 28px;
                    float: left;

                    .val {
                        width: 100%;
                        height: 48px;
                        color: #949590;
                        text-indent: 16px;
                        background: #f7f7f7;
                    }

                    .search_btn {
                        width: 58px;
                        height: 100%;
                        background-image: url(../images/181205_2llkjh1g0fe27h51ahh5k5f27gkk9_116x96.png);
                        background-size: contain;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }

                .item_nav {
                    float: left;
                    margin: 31px 0 0 14px;

                    a {
                        float: left;
                        color: #333;
                        padding: 0 14px;
                        text-align: center;

                        img {
                            width: 24px;
                            height: 24px;
                            margin-bottom: 6px;
                        }

                        span {
                            display: block;
                            font-size: 12px;
                            line-height: 12px;
                        }
                    }
                }

                .login {
                    float: left;
                    margin: 36px 0 0 40px;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    span {
                        color: #333;
                        font-size: 12px;
                        line-height: 30px;
                        margin-left: 6px;
                    }
                }
            }
        }
    }

    #title {
        width: 100%;
        height: 40px;
        border-bottom: 2px #ff4465 solid;

        .title_ti {
            float: left;
            width: 256px;
            height: 100%;
            background: #ff4465;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            color: #fff;
            font-size: 18px;
            line-height: 40px;
            padding-left: 20px;
            box-sizing: border-box;

            i {
                background-image: url(../images/mulu_w.png);
                display: inline-block;
                width: 16px;
                height: 12px;
                margin-right: 8px;
            }
        }

        .limit {
            float: left;
            color: #333;
            font-size: 18px;
            padding: 0 36px;
            line-height: 40px;
            position: relative;
        }

        .limit::after {
            display: block;
            content: "";
            width: 1px;
            height: 20px;
            background: #949590;
            position: absolute;
            right: 0;
            top: 10px;
        }
    }

    #banner {
        background: #bae9fd;
        width: 100%;
        height: 440px;

        .banner_nav {
            width: 256px;
            height: 100%;
            background: #f1faff;
            position: relative;

            .nav_ul {
                padding: 3px 0;
                box-sizing: border-box;

                .nav_li {
                    width: 100%;
                    height: 31px;
                    background: pink;

                    .nav_titile {
                        float: left;
                        margin: 0 12px 0 18px;
                        font-size: 14px;
                        color: #333;
                        font-weight: bold;
                        line-height: 31px;
                    }

                    .nav_i {
                        float: left;
                        font-size: 12px;
                        line-height: 31px;
                        margin-right: 18px;
                    }

                    .nav_i:last-child {
                        margin-right: 0;
                    }

                    .true {
                        color: #ff4466;
                    }

                    .false {
                        color: #666;
                    }
                }
            }

            .nav_show {
                position: absolute;
                top: 0;
                left: 256px;
                width: 768px;
                height: 100%;
                background: yellowgreen;

                .show_cont {
                    .left_content {
                        .left_cont {
                            .left_tit {
                                font-size: 14px;
                                color: #333;
                                font-weight: bold;
                            }

                            .left_ul {
                                .l_li {
                                    float: left;
                                    font-size: 12px;
                                }

                                .true {
                                    color: #ff4466;
                                }

                                .false {
                                    color: #949590;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}