#right_nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  color: #fff;
  font-size: 12px;
  background: #202020;
}

#right_nav .nav_ulr {
  margin-top: 100px;
}

#right_nav .nav_ulr .nav_lir {
  width: 22px;
  padding: 10px 4px 0;
  text-align: center;
  line-height: 15px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

#right_nav .nav_ulr .nav_lir:hover {
  background: #ff4466;
}
