* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

.content {
    margin: auto;
    width: 1200px;
    height: 100%;
}

.box {
    width: 100%;

    .shop-title {
        font-size: 24px;
        line-height: 24px;
        font-weight: normal;
        margin-bottom: 12px;
    }

    .chosse {
        width: 1198px;
        height: 38px;
        border: 1px solid #ccc;

        input {
            width: 46px;
            height: 22px;
            font-size: 12px;
            line-height: 22px;
            margin-top: 8px;
        }

        input:first-child {
            margin-left: 20px;
        }

        .btn {
            text-align: center;
            margin-left: 20px;
        }
    }

    .shop-content {
        margin-top: 30px;
        width: 100%;
        overflow: hidden;

        .shop-li {
            float: left;
            width: 218px;
            height: 372px;
            border: 1px solid rgb(230, 230, 230);
            margin: 0 25px 25px 0;
            position: relative;

            .find {
                width: 100%;
                height: 24px;
                background: rgba(255, 0, 128, 0.6);
                font-size: 12px;
                line-height: 24px;
                text-align: center;
                color: #fff;
                position: absolute;
                top: 266px;
                display: none;
            }

            img {
                width: 100%;
                height: 290px;
                display: block;
            }

            .name {
                margin: 6px 0;
                padding: 0 8px;
                font-size: 14px;
                color: #727375;
                text-overflow: -o-ellipsis-lastline;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        .mouse {
            border: 1px solid #e87b9a;
        }

        .shop-li:nth-child(5n) {
            margin-right: 0;
        }

        .price {
            padding: 0 8px;
            width: 100%;

            .class_a {
                float: left;
                font-size: 14px;
                line-height: 14px;
                font-weight: bold;
                color: #37332a;
            }

            .class_b {
                float: left;
                margin-left: 8px;
                font-size: 12px;
                line-height: 14px;
                text-decoration: line-through;
                color: #727375;
            }

            img {
                float: right;
                margin-right: 20px;
                width: 14px;
                height: 14px;
            }
        }
    }
}